[jupyter notebook](pandas-dataframe-groupby-agg.ipynb)

# Aggreage over columns of dataframe groups by pandas.core.groupby.DataFrameGroupBy.agg

In [1]:
import pandas as pd

dfSource = pd.DataFrame( { 'A': [ 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b'],
                           'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                           'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( dfSource )

   A  B  C
0  a  1  9
1  a  4  7
2  b  2  3
3  a  5  5
4  b  5  1
5  b  6  4
6  a  3  7
7  b  1  2

In [2]:
df = dfSource.groupby( by = 'A', as_index = False ).agg( { 'B': 'max', 'C': 'min' } )
display( df )

df.rename( columns = { 'B': 'B_min', 'C': 'C_min' }, inplace = True )
display( df )

   A  B  C
0  a  5  5
1  b  6  1

   A  B_min  C_min
0  a      5      5
1  b      6      1

In [3]:
df = dfSource.groupby( by = 'A' ).agg( { 'B': [ 'max' ], 'C': 'min' } ).reset_index( drop = True )
display( df )

df.columns = df.columns.map( '_'.join )
display( df )

    B   C
  max min
0   5   5
1   6   1

   B_max  C_min
0      5      5
1      6      1

In [4]:
df = dfSource.groupby( by = 'A' ).agg( { 'B': [ 'max', 'min' ], 'C': 'min' } ).reset_index( drop = True )
display( df )

df.columns = df.columns.map( '_'.join )
display( df )

    B       C
  max min min
0   5   1   5
1   6   1   1

   B_max  B_min  C_min
0      5      1      5
1      6      1      1

### Calculate sum of cubes for each group

In [5]:
import numpy as np

def SumCubes( s ):
    return sum( [ np.power( val, 3 ) for val in s ] )


df = dfSource.groupby( by = 'A', as_index = False ).agg( { 'B': SumCubes } )
df.rename( columns = { 'B': 'B_SumCubes' }, inplace = True )
display( df )

   A  B_SumCubes
0  a         217
1  b         350