[jupyter notebook](pandas-dataframe-groupby-agg.ipynb)

# Aggreage over columns of dataframe groups by pandas.core.groupby.DataFrameGroupBy.agg

In [1]:
import pandas as pd

dfSource = pd.DataFrame( { 'A': [ 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b'],
                           'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                           'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( dfSource )

   A  B  C
0  a  1  9
1  a  4  7
2  b  2  3
3  a  5  5
4  b  5  1
5  b  6  4
6  a  3  7
7  b  1  2

In [2]:
df = dfSource.groupby( by = 'A', as_index = False ).agg( { 'B': 'max', 'C': 'min' } ).reset_index( drop = True )
display( df )

df.rename( columns = { 'B': 'B_min', 'C': 'C_min' }, inplace = True )
display( df )

   A  C  B
0  a  5  5
1  b  1  6

   A  C_min  B_min
0  a      5      5
1  b      1      6

In [3]:
df = dfSource.groupby( by = 'A' ).agg( { 'B': [ 'max' ], 'C': 'min' } ).reset_index( drop = True )
display( df )

df.columns = df.columns.map( '_'.join )
display( df )

    C   B
  min max
0   5   5
1   1   6

   C_min  B_max
0      5      5
1      1      6

In [4]:
df = dfSource.groupby( by = 'A' ).agg( { 'B': [ 'max', 'min' ], 'C': 'min' } ).reset_index( drop = True )
display( df )

df.columns = df.columns.map( '_'.join )
display( df )

    C   B
  min max min
0   5   5   1
1   1   6   1

   C_min  B_max  B_min
0      5      5      1
1      1      6      1