[jupyter notebook](pandas-dataframe-at-iat.ipynb)

# Access a single value of dataframe by pandas.DataFrame.at or pandas.DataFrame.iat

In [1]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'd', 'e', 'c', 'g', 'f', 'h'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

df.set_index( 'A', inplace = True )
display( df )

   B  C
A
a  1  9
b  4  7
d  2  3
e  5  5
c  5  1
g  6  4
f  3  7
h  1  2

### pandas.DataFrame.at

In [2]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'd', 'e', 'c', 'g', 'f', 'h'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

df.set_index( 'A', inplace = True )
display( df )

   B  C
A
a  1  9
b  4  7
d  2  3
e  5  5
c  5  1
g  6  4
f  3  7
h  1  2

In [3]:
# Access by index and column
display( df.at[ 'g', 'C' ])

4

### pandas.DataFrame.iat

In [4]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'd', 'e', 'c', 'g', 'f', 'h'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

df.set_index( 'A', inplace = True )
display( df )

   B  C
A
a  1  9
b  4  7
d  2  3
e  5  5
c  5  1
g  6  4
f  3  7
h  1  2

In [5]:
# Access by row and column position
display( df.iat[ 2, 1 ])

3

In [6]:
display( df[ 'C' ].iat[ 2 ] )

3