[jupyter notebook](pandas-dataframe-groupby-filter.ipynb)

# Filter dataframe groups by pandas.core.groupby.DataFrameGroupBy.filter

In [1]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( df )

   A  B  C
0  a  1  9
1  a  4  7
2  b  2  3
3  a  5  5
4  b  5  1
5  b  6  4
6  a  3  7
7  b  1  2

In [2]:
# Filter a group if max of column 'C' is higher than 6

def func( group ):
    return group[ 'C' ].max() > 6

display( df.groupby( by = 'A' ).filter( func ))

   A  B  C
0  a  1  9
1  a  4  7
3  a  5  5
6  a  3  7

In [3]:
# Filter a group if max of column 'C' is higher than 6

def func( group ):
    return group[ 'C' ].max() > 6

display( df.groupby( by = 'A' ).filter( func ).reset_index( drop = True ) )

   A  B  C
0  a  1  9
1  a  4  7
2  a  5  5
3  a  3  7