[jupyter notebook](pandas-dataframe-merge.ipynb)

# Merge two dataframes by pandas.DataFrame.merge

In [1]:
import pandas as pd

dfSource1 = pd.DataFrame( { 'A': [ 'a', 'b', 'c' ], 'B': [  'red', 'blue', 'brown' ] } )
dfSource2 = pd.DataFrame( { 'A': [ 'a', 'b', 'd' ], 'B': [  'red', 'yellow', 'green' ], 'C': [ 5.5, 6.5, 7.0 ] } )

display( dfSource1 )
display( dfSource2 )

   A      B
0  a    red
1  b   blue
2  c  brown

   A       B    C
0  a     red  5.5
1  b  yellow  6.5
2  d   green  7.0

### inner join on column A

In [2]:
display( dfSource1.merge( dfSource2, how = 'inner', on = 'A', suffixes = [ '_1', '_2' ] ) )

   A   B_1     B_2    C
0  a   red     red  5.5
1  b  blue  yellow  6.5

### inner join on columns A and B

In [3]:
display( dfSource1.merge( dfSource2, how = 'inner', on = [ 'A', 'B' ], suffixes = [ '_1', '_2' ] ) )

   A    B    C
0  a  red  5.5

### left join on column A

In [4]:
display( dfSource1.merge( dfSource2, how = 'left', on = 'A', suffixes = [ '_1', '_2' ] ) )

   A    B_1     B_2    C
0  a    red     red  5.5
1  b   blue  yellow  6.5
2  c  brown     NaN  NaN

### outer join on column A

In [5]:
display( dfSource1.merge( dfSource2, how = 'outer', on = 'A', suffixes = [ '_1', '_2' ] ) )

   A    B_1     B_2    C
0  a    red     red  5.5
1  b   blue  yellow  6.5
2  c  brown     NaN  NaN
3  d    NaN   green  7.0

### inner join on column A (left_on and right_on)

In [6]:
display( dfSource1.merge( dfSource2, how = 'inner', left_on = 'A', right_on = 'A', suffixes = [ '_1', '_2' ] ) )

   A   B_1     B_2    C
0  a   red     red  5.5
1  b  blue  yellow  6.5