[jupyter notebook](pandas-nlargest.ipynb)

# Filter dataframe groups by largest size applying pandas.Series.nlargest

In [1]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'a', 'a', 'b', 'c', 'e', 'd'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( df )

   A  B  C
0  a  1  9
1  b  4  7
2  a  2  3
3  a  5  5
4  b  5  1
5  c  6  4
6  e  3  7
7  d  1  2

In [2]:
indexList = df.groupby( 'A' ).size().nlargest( 2 ).index.tolist() 
print( 'Index List = ', indexList )

display( df.loc[ df[ 'A' ].isin( indexList ) ] )

Index List =  ['a', 'b']

   A  B  C
0  a  1  9
1  b  4  7
2  a  2  3
3  a  5  5
4  b  5  1