[jupyter notebook](pandas-categorical.ipynb)

# Sort dataframe column by the order of a list using pandas.Categorical

In [1]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'a', 'a', 'b', 'c', 'e', 'd'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( df )

   A  B  C
0  a  1  9
1  b  4  7
2  a  2  3
3  a  5  5
4  b  5  1
5  c  6  4
6  e  3  7
7  d  1  2

In [2]:
df[ 'category' ] = pd.Categorical( df[ 'A' ], ordered = True, categories = [ 'c', 'a', 'd', 'e', 'b' ] )
df.sort_values( 'category', inplace = True )
df.drop( [ 'category' ], axis = 1, inplace = True )
display( df )

   A  B  C
5  c  6  4
0  a  1  9
2  a  2  3
3  a  5  5
7  d  1  2
6  e  3  7
1  b  4  7
4  b  5  1