[jupyter notebook](pandas-dataframe-concat.ipynb)

# Concatenate dataframes along index or column by pandas.concat

### Concatenate along index (by column)

In [1]:
import pandas as pd

dfSource1 = pd.DataFrame( { 'A': [ 'a', 'b', 'c' ], 'B': [  'red', 'blue', 'brown' ] } )
dfSource2 = pd.DataFrame( { 'A': [ 'f', 'h' ], 'B': [  'red', 'yellow' ], 'C': [ 5.5, 6.5 ] } )

display( dfSource1 )
display( dfSource2 )

   A      B
0  a    red
1  b   blue
2  c  brown

   A       B    C
0  f     red  5.5
1  h  yellow  6.5

In [2]:
# inner join
display( pd.concat( [ dfSource1, dfSource2 ], axis = 0, join = 'inner', sort = False ) )

   A       B
0  a     red
1  b    blue
2  c   brown
0  f     red
1  h  yellow

In [3]:
# outer join
display( pd.concat( [ dfSource1, dfSource2 ], axis = 0, join = 'outer', sort = False ) )

   A       B    C
0  a     red  NaN
1  b    blue  NaN
2  c   brown  NaN
0  f     red  5.5
1  h  yellow  6.5

### Concatenate along column (by index)

In [4]:
import pandas as pd

dfSource1 = pd.DataFrame( { 'A': [ 'a', 'b', 'c' ], 'B': [  'red', 'blue', 'brown' ] } )
dfSource2 = pd.DataFrame( { 'A': [ 'a', 'c' ], 'D': [  'red', 'yellow' ], 'E': [ 5.5, 6.5 ] } )

dfSource1.set_index('A', inplace = True )
dfSource2.set_index('A', inplace = True )

display( dfSource1 )
display( dfSource2 )

       B
A
a    red
b   blue
c  brown

        D    E
A
a     red  5.5
c  yellow  6.5

In [5]:
# inner join
display( pd.concat( [ dfSource1, dfSource2 ], axis = 1, join = 'inner', sort = False ) )

       B       D    E
A
a    red     red  5.5
c  brown  yellow  6.5

In [6]:
# outer join
display( pd.concat( [ dfSource1, dfSource2 ], axis = 1, join = 'outer', sort = False ) )

       B       D    E
a    red     red  5.5
b   blue     NaN  NaN
c  brown  yellow  6.5