[jupyter notebook](pandas-dataframe-loc-iloc.ipynb)

# Access dataframe rows and columns by pandas.DataFrame.loc or pandas.DataFrame.iloc

In [1]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'd', 'e', 'c', 'g', 'f', 'h'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

df.set_index( 'A', inplace = True )
display( df )

   B  C
A
a  1  9
b  4  7
d  2  3
e  5  5
c  5  1
g  6  4
f  3  7
h  1  2

### pandas.DataFrame.loc

In [2]:
# Access by index
display( df.loc[ [ 'g', 'h' ] ] )

   B  C
A
g  6  4
h  1  2

In [3]:
# Access by index and column name
display( df.loc[ [ 'g', 'h' ], 'B' ] )

A
g    6
h    1
Name: B, dtype: int64

In [4]:
display( df.loc[ [ 'g', 'h' ], [ 'B' ] ] )

   B
A
g  6
h  1

In [5]:
display( df.loc[ df[ 'B' ] > 4, 'C' ] )

A
e    5
c    1
g    4
Name: C, dtype: int64

In [6]:
display( df.loc[ df[ 'B' ] > 4, [ 'B', 'C' ] ] )

   B  C
A
e  5  5
c  5  1
g  6  4

In [7]:
display( df.loc[ ( df[ 'B' ] > 4 ) & ( df[ 'C' ] < 5 ), [ 'B', 'C' ] ] )

   B  C
A
c  5  1
g  6  4

In [8]:
display( df.loc[ ( df[ 'B' ] > 4 ) | ( df[ 'C' ] < 5 ), [ 'B', 'C' ] ] )

   B  C
A
d  2  3
e  5  5
c  5  1
g  6  4
h  1  2

### pandas.DataFrame.iloc

In [9]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'b', 'd', 'e', 'c', 'g', 'f', 'h'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

df.set_index( 'A', inplace = True )
display( df )

   B  C
A
a  1  9
b  4  7
d  2  3
e  5  5
c  5  1
g  6  4
f  3  7
h  1  2

In [10]:
# Access by row position
display( df.iloc[ 1: 4 ] )

   B  C
A
b  4  7
d  2  3
e  5  5

In [11]:
# Access by row and column positions
display( df.iloc[ 1: 4, 1 ] )

A
b    7
d    3
e    5
Name: C, dtype: int64

In [12]:
display( df.iloc[ 1: 4, 1: 2 ] )

   C
A
b  7
d  3
e  5